@import '../../styles/_base.scss';


.card {
  @include flex-center(column);
  position: relative;
  margin: 3rem auto;
  height: 30rem;
  max-width: 90%;
}

.img-ctn {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }
}

.file-ctn {
  @include bg-grey;
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translate(-45%, 0);
  display: flex;
  flex-direction: column;

  label {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }

  input[type=file] {
    @include purple-btn;
  }
}

.size-message {
  position: absolute;
  padding: 1rem;
  width: 100%;
  top:0;
  background: $dark-purple;
  color: $white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}



@media (min-width: 768px) {
  .card {
    width: 60%;
  }
}